{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_detail.css' %}">
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="post-header">
    <h2>{{ object.title }}</h2>
    <p class="post-author">{{ object.author.username }}, {{ post.created_at|date:"F j, Y" }}</p>
</div>
<p>{{ post.text_content|process_links|process_hashtags|linebreaks }}</p>

{% endblock %}
