{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_list.css' %}">
{% endblock %}

{% block title %}
    {% if hashtag %}
        #{{ hashtag }}
    {% else %}
        Home
    {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h3 class="add-post"><a href="{% url 'create' %}">Add Post</a></h3>
{% elif hashtag %}
    <h2>#{{ hashtag }}</h2>
{% endif %}

<ul>
    {% for post in post_list %}
    <li class="post-item">
        <div class="post-bubble">
            <h3><a href="/post/{{ post.id }}" class="post-title-link">{{ post.title }}</a></h3>
            <p>{{ post.text_content|process_links|process_hashtags|linebreaks }}</p>
        </div>
        <div class="post-info">
            <p class="date">{{ post.created_at|date:"F j, Y" }}</p>
            <p class="author">{{ post.author.username }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
