.post-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
}

.post-header * {
    margin: 0;
}

.post-author {
    color: #7e7e7e;
    font-size: 0.9rem;
}

textarea {
    height: 150px;
    max-height: 150px;
    margin-top: 20px;
}

.comment-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 36px;
    gap: 28px;
    list-style-type: none;
}

.comment-content {
    padding: 16px 12px;
    border-radius: 6px;
    background-color: #d9d7d7;
}

.comment-date {
    color: #7e7e7e;
    font-size: 0.85rem;
    margin-bottom: 0;
}